---
layout: default
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}, by {{ post.author.display_name }}</span>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next pagination-item older">Older</a>
  {% else %}
    <span class="next pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-item newer previous">
      Newer
    </a>
  {% else %}
    <span class="previous pagination-item newer">Newer</span>
  {% endif %}
</div>
